In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv('df1.csv')
print(df1)
#df1= pd.concat([df1,df3])

    InvoiceID  sum_value
0           1     100.00
1           2     300.00
2           3     500.00
3           4      70.00
4           5     140.00
5           6      75.00
6           7     282.00
7           8     210.00
8           9     260.00
9          10      55.00
10         11      21.00
11         12       0.00
12         13     288.00
13         14     183.00
14         15     175.00
15         16    2523.98
16         17     265.00
17         18      45.00
18         19      90.00
19         20     924.00
20         21     110.00
21         22      18.00
22         23     180.00
23         24     148.00
24         25      38.00

In [3]:
#sorting Values
df1=df1.sort_values("InvoiceID")
print(df1)

    InvoiceID  sum_value
0           1     100.00
1           2     300.00
2           3     500.00
3           4      70.00
4           5     140.00
5           6      75.00
6           7     282.00
7           8     210.00
8           9     260.00
9          10      55.00
10         11      21.00
11         12       0.00
12         13     288.00
13         14     183.00
14         15     175.00
15         16    2523.98
16         17     265.00
17         18      45.00
18         19      90.00
19         20     924.00
20         21     110.00
21         22      18.00
22         23     180.00
23         24     148.00
24         25      38.00

In [4]:
df2=pd.read_csv('df2.csv')
print(df2)

    ID  Total
0    1    100
1    2    300
2    3    500
3    4     70
4    5    800
5    6     75
6    7    282
7    8    210
8    9    260
9   10     55
10  11     21
11  12      0
12  13    288
13  14    183
14  15    100
15  16    655
16  17     50
17  18     45
18  19     90
19  20    924
20  21    110
21  22     18
22  23    180
23  24    541
24  25     38

In [5]:
#Merged two Dataframes
merged_df = pd.merge(df1, df2, left_on='InvoiceID', right_on = 'ID', how='outer')
print(merged_df )

    InvoiceID  sum_value  ID  Total
0           1     100.00   1    100
1           2     300.00   2    300
2           3     500.00   3    500
3           4      70.00   4     70
4           5     140.00   5    800
5           6      75.00   6     75
6           7     282.00   7    282
7           8     210.00   8    210
8           9     260.00   9    260
9          10      55.00  10     55
10         11      21.00  11     21
11         12       0.00  12      0
12         13     288.00  13    288
13         14     183.00  14    183
14         15     175.00  15    100
15         16    2523.98  16    655
16         17     265.00  17     50
17         18      45.00  18     45
18         19      90.00  19     90
19         20     924.00  20    924
20         21     110.00  21    110
21         22      18.00  22     18
22         23     180.00  23    180
23         24     148.00  24    541
24         25      38.00  25     38

In [7]:
#Find the difference between sum_value and Subtotal
merged_df['order_diff'] = merged_df['sum_value'] - merged_df['Total'] 
print(merged_df)

    InvoiceID  sum_value  ID  Total  order_diff
0           1     100.00   1    100        0.00
1           2     300.00   2    300        0.00
2           3     500.00   3    500        0.00
3           4      70.00   4     70        0.00
4           5     140.00   5    800     -660.00
5           6      75.00   6     75        0.00
6           7     282.00   7    282        0.00
7           8     210.00   8    210        0.00
8           9     260.00   9    260        0.00
9          10      55.00  10     55        0.00
10         11      21.00  11     21        0.00
11         12       0.00  12      0        0.00
12         13     288.00  13    288        0.00
13         14     183.00  14    183        0.00
14         15     175.00  15    100       75.00
15         16    2523.98  16    655     1868.98
16         17     265.00  17     50      215.00
17         18      45.00  18     45        0.00
18         19      90.00  19     90        0.00
19         20     924.00  20    924        0.00
20         21     110.00  21    110        0.00
21         22      18.00  22     18        0.00
22         23     180.00  23    180        0.00
23         24     148.00  24    541     -393.00
24         25      38.00  25     38        0.00

In [8]:
values_mismatch_df=merged_df.loc[merged_df['order_diff'] !=0  ]
print(mismatch_ro_df)

    InvoiceID  sum_value  ID  Total  order_diff
4           5     140.00   5    800     -660.00
14         15     175.00  15    100       75.00
15         16    2523.98  16    655     1868.98
16         17     265.00  17     50      215.00
23         24     148.00  24    541     -393.00

In [9]:
#Writing Mismatch Values to files.
values_mismatch_df.to_csv('value_mismatch.csv')